* {
    box-sizing: border-box;
}

.image {
    width: 250px;
    margin: auto;
}

.image > img {
    width: 250px;
}

.cards {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.search-box {
    margin-top: 30px;
}

.chart {
    width: 1000px;
    padding: 50px 0px 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    margin: auto;
}

@media(max-width: 768px) {
    .image {
        width: 80%;
        margin: auto;
    }
    
    .image > img {
        width: 100%;
    }

    .cards {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 770px;
    }

    .chart {
        width: 90%;
        display: block;
        margin: 35px auto;    
    }
}

@media(width: 1024px) {
    .cards {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .chart {
        width: 90%;
    }
}